target/
.settings/
.DS_Store
.classpath
.project
.idea
*.iml
.springBeans
doc/
data/
logs/
plugin/
APP_NAME_IS_UNDEFINED/
DATA_HOME_IS_UNDEFINED/
thoughtware-arbess-distribution/embbed
thoughtware-arbess-starter/embbed
arbess-log
thoughtware-arbess-starter/plugin
thoughtware-arbess-starter/target
thoughtware-arbess-starter/licences
thoughtware-arbess-starter/src/main/resources/config/dev
