target/
.settings/
.DS_Store
.classpath
.project
.idea
*.iml
.springBeans
doc/
data/
logs/
plugin/
APP_NAME_IS_UNDEFINED/
DATA_HOME_IS_UNDEFINED/
tiklab-matflow-distribution/embbed
tiklab-matflow-starter/embbed
matflow-log
tiklab-matflow-starter/plugin
tiklab-matflow-starter/target
tiklab-matflow-starter/licences
