target/
.settings/
.DS_Store
.classpath
.project
.idea
*.iml
.springBeans
doc/
data/
logs/
plugin/
APP_NAME_IS_UNDEFINED/
DATA_HOME_IS_UNDEFINED/
tiklab-arbess-distribution/embbed
tiklab-arbess-starter/embbed
arbess-log
tiklab-arbess-starter/plugin
tiklab-arbess-starter/target
tiklab-arbess-starter/licences
tiklab-arbess-starter/src/main/resources/config/dev
