<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="io.tiklab.web.logging.LoggingContextListener" />
    <!-- 应用名称：和统一配置中的项目代码保持一致（小写） -->
    <property name="app.name" value="tiklab-matflow" />
    <property name="log" value="tiklab-matflow-log" />
    <property name="LOG_PATH" value="${LOG_HOME}/tiklab/${app.name}/logs" />
    <!--在没有定义${LOG_PATH}系统变量的时候，可以设置此本地变量。提交测试、上线时，要将其注释掉，使用系统变量。-->
    <!--
    <property name="user.home" value="/usr" />
    -->
    <!--
    <springProperty scope="context" name="LOG_PATH" source="/User/zhangzhihua"/>
    -->

    <!--日志文件保留天数-->
    <property name="LOG_MAX_HISTORY" value="30"/>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.matflowExecLog</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/app.matflowExecLog.%d{yyyy-MM-dd}.matflowExecLog</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${LOG_MAX_HISTORY}</MaxHistory>
        </rollingPolicy>
    </appender>

    <appender name="app.tracer" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app-tracer.matflowExecLog</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/app-tracer.matflowExecLog.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${LOG_MAX_HISTORY}</MaxHistory>
        </rollingPolicy>
    </appender>

    <appender name="app.error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app-error.matflowExecLog</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/app-error.matflowExecLog.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${LOG_MAX_HISTORY}</MaxHistory>
        </rollingPolicy>
    </appender>

    <appender name="app.slow" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app-slow.matflowExecLog</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/app-slow.matflowExecLog.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${LOG_MAX_HISTORY}</MaxHistory>
        </rollingPolicy>
    </appender>

    <logger name="app.tracer" additivity="true">
        <level value="info"/>
        <appender-ref ref="app.tracer"/>
    </logger>

    <logger name="app.error" additivity="true">
        <level value="info"/>
        <appender-ref ref="app.error"/>
    </logger>

    <logger name="app.slow" additivity="true">
        <level value="info"/>
        <appender-ref ref="app.slow"/>
    </logger>

    <!--root-->
    <root level="info">
        <appender-ref ref="stdout" />
        <appender-ref ref="app" />
    </root>

</configuration>